<div class="container">
    <div class="row justify-content-md-center">
        <div class="list row">
            <ul class="list-group" *ngFor="let student of students; let i = index" [class.active]="i == currentIndex">
                <a routerLink='/dashboard' class="card list-group-item list-group-item-action">
                    <h5 class="card-title ">{{ student.firstName + ' ' + student.lastName }}</h5>
                    <p class="card-text">Enrolled in: (class 1, class 2, etc.)</p>
                </a>
            </ul>
        </div>
    </div>
</div>
