<div class="nav-bar">
    <a 
    class="nav-bar-btn btn btn-block btn-primary" 
    (click)="OnNavigationButtonClick(0)">
        ALPHA
    </a>
    <a 
    class="nav-bar-btn btn btn-block btn-primary" 
    (click)="OnNavigationButtonClick(1)">
        BETA
    </a>
    <a 
    class="nav-bar-btn btn btn-block btn-primary" 
    (click)="OnNavigationButtonClick(2)">
        GAMMA
    </a>
    <a 
    class="nav-bar-btn btn btn-block btn-primary" 
    (click)="OnNavigationButtonClick(3)">
        DELTA
    </a>
    <a 
    class="nav-bar-btn btn btn-block btn-primary" 
    (click)="OnNavigationButtonClick(4)">
        EPSILON
    </a>
</div>