<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" routerLink="/dashboard">
        <img src="/assets/img/toolbox_logo.png" class="d-inline-block align-center toolbox-logo" alt="">
        Teacher Toolbox
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse  justify-content-end" id="navbarNavDropdown " *ngIf="AuthService.userState as user">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/students">Students</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/classes">Classes</a>
            </li>
            <li class="nav-item dropdown" >
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                    <img class="rounded-circle profile-pic" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy.jpg'}}" alt="{{user.displayName}}">
                </a>
                <div class="dropdown-menu" role="menu" aria-labelledby="imageDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Account Settings</a>
                    <a class="dropdown-item" href="#">Log Out</a>
                </div>
            </li>

        </ul>
    </div>

</nav>