.form-group {
    margin: 1em;
}

.form-group label {
    margin: 0.4em 0;
}

.title {
    margin: 1em 0 0.5em 0;
}

.bi-plus-lg, .bi-download {
    font-size: 1.2em;
}

.container {
    width: 50%;
}

.excelTemplate > button {
    float: right;
    margin-right: .5em;
}

#exportStudentsTemplate {
    display: none;
}

.modal-body{
    color:black;
    height: 500px;
    overflow-y: scroll;
}

.modal-header{
    color:black;
}

.modal{
    overflow-y:auto;
}
