<app-navigation-bar></app-navigation-bar>

<div class="row-titleContainer">
    <div>
        <h1 class="student-name">{{ currentStudent.firstName }} {{ currentStudent.lastName }}</h1>
    </div>
</div>

<section class="container">
    <div class="row">
        <figure class="col-sm-4">
            <h3 class="detail-title">Parent Name</h3>
            <p class="detail-text">
                {{ currentStudent.parentFirstName }} {{ currentStudent.parentLastName }}
            </p>
        </figure>
        <figure class="col-sm-4">
            <h3 class="detail-title">Parent Email</h3>
            <p class="detail-text">{{ currentStudent.parentEmail }}</p>
        </figure>
        <figure class="col-sm-4">
            <h3 class="detail-title">Parent Phone</h3>
            <p class="detail-text">{{ currentStudent.parentPhone }}</p>
        </figure>
    </div>

    <button class="btn btn-primary col editstudent-button" (click)="triggerModal(modalData)">
        Edit student
    </button>
</section>

<ng-template #modalData let-modal class="modal">
    <div class="modal-header">
        <h5 class="modal-title">Edit Student</h5>
        <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="modal.dismiss()"
        ></button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="name">Student First Name</label>
            <input
                type="text"
                class="form-control"
                id="name"
                required
                [(ngModel)]="currentStudent.firstName"
                #studentFirstName
            />
        </div>

        <div class="form-group">
            <label for="description">Student Last Name</label>
            <input
                type="text"
                class="form-control"
                id="description"
                required
                [(ngModel)]="currentStudent.lastName"
                #studentLastName
            />
        </div>

        <div class="form-group">
            <label for="name">Parent First Name</label>
            <input
                type="text"
                class="form-control"
                id="name"
                required
                [(ngModel)]="currentStudent.parentFirstName"
                #parentFirstName
            />
        </div>

        <div class="form-group">
            <label for="description">Parent Last Name</label>
            <input
                type="text"
                class="form-control"
                id="description"
                required
                [(ngModel)]="currentStudent.parentLastName"
                #parentLastName
            />
        </div>

        <div class="form-group">
            <label for="description">Parent Phone Number</label>
            <input
                type="text"
                class="form-control"
                id="description"
                required
                [(ngModel)]="currentStudent.parentPhone"
                #parentPhone
            />
        </div>

        <div class="form-group">
            <label for="description">Parent Email</label>
            <input
                type="text"
                class="form-control"
                id="description"
                required
                [(ngModel)]="currentStudent.parentEmail"
                #parentEmail
            />
        </div>
    </div>

    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            (click)="modal.close()"
        >
            Close
        </button>
        <button
            type="button"
            class="btn btn-primary"
            (click)="
                updateStudent(); modal.close()"
        >
            Save changes
        </button>
    </div>
</ng-template>
