.row-titleContainer {
    size: 5vw;
    padding: 10 10 10 10;
    margin-left: 10;
    margin-right: 10;
    text-align: center;
}

.row-detailsContainer {
    height: 50%;
    padding: 10 5 10 5;
    text-align: left;
}


.student-name{
    font-size: 5vw;
}

h3 {
    text-align:center;
}

.detail-title {
    text-align: center;
    padding: 10 10 10 10;
    font-size: 3vw;
}

.detail-text{
    text-align: center;
    padding: 10 10 10 10;
    font-size: 25px;
}

.editstudent-button {
    margin: auto auto;
    display: block;
}
