.form-group {
    margin: 0.7em;
}

.form-group label {
    margin: 0.4em 0;
}

.title {
    margin: 1em 0 0.5em 0;
}

.bi-plus-lg {
    font-size: 1.2em;
}

.container {
    width: 50%;
}

label {
    font-weight: 600;
}
.modal-body {
    color: black;
}

.modal-header {
    color: black;
}

@media screen and (max-width: 992px) {
    .container {
        width: 90%;
    }
}