.form-group {
    margin: 1em;
}

.form-group label {
    margin: 0.4em 0;
}

.title {
    margin: 1em 0 0.5em 0;
}

.bi-plus-lg {
    font-size: 1.2em;
}

.container {
    width: 50%;
}

.modal-body{
    color:black;
}

.modal-header{
    color:black;
}

#exportStudentsTemplate{
    color:green;
}
