<app-navigation-bar></app-navigation-bar>

<h1 class="text-center">Fairmont High School</h1>

<div class="jumbotron">
    <div class="container text-white">
        <h2 class="display-3">Calendar</h2>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
</div>

<div class="row text-center intro">
    <div class="col-md-3"></div>
    <div class="col-md-2">
        <img src="assets/img/ae-winter2019-marsh-opener.png"  class="rounded thumbnail" alt="" style="width:200px;height:200px;">
        <h2>Attendance</h2>
    </div>
    <div class="col-md-2">
        <img src="assets/img/download.png"  class="rounded thumbnail" alt="" style="width:200px;height:200px;">
        <h2>Grading</h2>
    </div>
    <div class="col-md-2">
        <img src="assets/img/download (1).png"  class="rounded thumbnail" alt="" style="width:200px;height:200px;">
        <h2>Reports</h2>
    </div>
    <div class="col-md-3"></div>
</div>

