.media-body h1 {
    font-weight: 300;
    margin-bottom: 20px;
}

.media-body h1 strong {
    font-weight: 600;
}

.media-body p {
    margin-bottom: 10px;
    font-weight: 300;
}

.media-body p strong {
    margin-bottom: 10px;
    font-weight: 600;
}

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
}

.jumbotron {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgb(116, 116, 116);
}

.dashboardContent {
    padding-top: 5%;
    background-color: rgb(221, 221, 221);
}

* {
    font-family: "Roboto", sans-serif;
}

.dashboardContent.dark-mode {
    background-color: #2d3436;
    color: rgb(207, 207, 207);
}

.dashboardContent.light-mode {
    background-color: rgb(221, 221, 221);
    color: #2d3436;
}

.dashboardstuff {
    padding-top: 2%;
}

@media screen and (max-width: 992px) {
    .container-main {
        width: 90%;
        margin-left: 1em;
    }
}
