.media-body h1 {
    font-weight: 300;
    margin-bottom: 20px;
}

.media-body h1 strong {
    font-weight: 600;
}

.media-body p {
    margin-bottom: 10px;
    font-weight: 300;
}

.media-body p strong {
    margin-bottom: 10px;
    font-weight: 600;
}

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
    overflow-x:hidden !important;
    overflow-y:hidden !important;
  }

.jumbotron{
    padding-top: 3%;
    padding-bottom: 1%;
    background-color:rgb(116, 116, 116);
}

.dashboardContent{
    padding-top: 5%;
    background-color:rgb(221, 221, 221);

}

*{
    font-family: 'Roboto', sans-serif;
}

.intro{
padding-top:4%;
padding-bottom:3%;

}

img{
    text-shadow:
    1px 1px white,
    1px -1px white,
    -1px 1px white,
    -1px -1px white;

}

img { 
	transition: all .2s ease-in-out; 
}
img:hover { 
    	transform: scale(1.05); 
    }
h2{
    font-family: 'Hind Siliguri', sans-serif;
}

h1{
    padding-top:5%;
    padding-bottom:4%;
    font-size:50px;
}



