.container {
    width: 50%;
    margin-top: 2em;
}

.btn {
    float: right;
    width: 7.5em;
    margin: 0 0.5em 1em 0;
}

.search {
    width:98.5%;
    margin-top: 3em;
}

.card-text {
    font-weight: 400;
}

.form-group {
    margin: 0.7em;
}

.form-group label {
    margin: 0.4em 0;
    font-weight: 600;
}

.title {
    margin: 1em 0 0.5em 0;
}

.bi-plus-lg {
    font-size: 1.2em;
}

.container {
    width: 50%;
}
.card-title {
    color: black;
}

.card-text {
    color: black;
}

.modal-title {
    color: black;
}

.modal-body {
    color: black;
}

@media screen and (max-width: 992px) {
    .container {
        width: 90%
    }
    .search {
        margin-left: .2em;
    }
    .list-group {
        margin-left: 1em;
    }
}