<app-navigation-bar></app-navigation-bar>
<div class="displayTable">
    <div class="displayTableCell">
   
        <div class="authBlock light-mode rounded" id="authBlock">
            <h2 class="text-center text-black loginText underlineOne">Account</h2>  
            <form>
            <div class="form-group row">
                <label for="inputPassword3" class="toptitles titleFont col-form-label text-black">Change Email</label>
                <div class="form-row">
                    <div class="col">
                    <input type="text" class="form-control" placeholder="First name">
                    </div>

                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="titles titleFont  col-form-label text-black">Change Password</label>
                <div class="form-row">
                    <div class="col">
                    <input type="text" class="form-control " placeholder="Old Password">
                    </div>
                    <div class="col">
                    <input type="text" class="form-control space" placeholder="New Password">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="titles titleFont col-form-label text-black">Profile Picture</label>
                <div class="form-row">
                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>
            </div>
            <h2 class="text-center text-black loginText titles underlineOne">Settings</h2>  
            <fieldset class="form-group">
                <div class="row">
                <legend class="col-form-label titleFont text-black ">Themes</legend>
                <div class="col-sm-10">
                    <app-dark-mode-toggle></app-dark-mode-toggle>


                </div>
                </div>
            </fieldset>
           
            <div class="form-group row">
                <div class="col text-center">
                <button type="submit" class="btn btn-secondary">Save</button>
                </div>
            </div>
            </form>

        </div>
        


    </div>
</div>