<div *ngIf="currentClassroom" class="edit-form">
    <h4>Classroom Details</h4>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="currentClassroom.name"
          name="name"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentClassroom.description"
          name="description"
        />
      </div>
    </form>

    <button class="btn btn-danger mr-2" style="margin-right: 10" (click)="deleteClassroom()">
      Delete
    </button>

    <button type="submit" class="btn btn-success" (click)="updateClassroom()">
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentClassroom">
    <br />
    <p>Cannot access this Classroom...</p>
  </div>