.calendarContainer {
    padding: 10 5 10 10;
}

.studentsContainer {
    margin-top: 3%;
    height: 50%;
    padding: 10 10 10 5;
    overflow: auto;
}

.titleContainer {
    padding: 10 10 10 10;
    margin-left: 10;
    margin-right: 10;
}

.calendarContainer {
    color: black;
}

.button-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.button-grid-item {
    margin: 1em;
    width: 10em;
}

.month-display {
    width: 10em;
    max-width: 10em;
    display: inline-block;
    font-style: italic;
}

.event-section {
    margin-top: 5em;
}

.card-title {
    color: black;
}

.card-text {
    color: black;
}

.modal-title {
    color: black;
}

.modal-body {
    color: black;
}

.modal-header {
    color: black;
}

.eventcontainer {
    color: black;
}

html {
    overflow-y: hidden !important;
}

body {
    overflow-y: hidden !important;
}

.tab {
    text-indent: 40px;
}

.p {
    margin: 1 1 1 1;
    padding: 1 1 1 1;
}

.title-first {
    margin-top: 1em;
}

.title {
    font-style: italic;
    margin-bottom: 1em;
}


@media screen and (max-width: 992px) {
   .button-grid {
       width: 100%;
   }
   .button-grid-item {
       font-size: .9em;
   }
}