<app-navigation-bar></app-navigation-bar>

<div class="row titleContainer">
    <div>
        <strong>{{ currentClassroom.name }}</strong> -
        {{ currentClassroom.description }}
    </div>
</div>

<div class="row">
    <div class="col">
        <div style="text-align: center;">
            <button class="btn btn-primary" style="margin-left: 0%;" (click)="switchViewMonth(-1)"><i class="bi bi-arrow-left"></i></button>
            {{ getViewMonth() }}
            <button class="btn btn-primary" style="margin-right: 0%;" (click)="switchViewMonth(1)"><i class="bi bi-arrow-right"></i></button>
        </div>
        <div class="calendarContainer">
            <mwl-calendar-month-view
                [viewDate]="viewDate"
                [events]="calendarEvents"
                [refresh]="refresh"
                (dayClicked)="onDayClicked($event)"
                (eventClicked)="onEventClicked($event); triggerModal(modalEditEvent)"
            >
            </mwl-calendar-month-view>
        </div>
    </div>

    <div class="col" style="overflow: hidden">
        <div class="studentsContainer">
            <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light" style="max-height: 80%">
                <ngb-accordion
                    activeIds="static-0"
                    *ngFor="let student of allStudents; let index = index"
                >
                    <ngb-panel
                        *ngIf="
                            currentClassroom.studentIDs != undefined &&
                            currentClassroom.studentIDs.includes(student.id)
                        "
                        id="static-{{ index }}"
                        title="{{ student.firstName }} {{ student.lastName }}"
                    >
                        <ng-template ngbPanelContent>
                            Student ID: {{ student.id }}<br />
                            Parent Name: {{ student.parentFirstName }} {{ student.parentLastName
                            }}<br />
                            Parent Phone: {{ student.parentPhone }}
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>
            <a
                class="btn btn-primary"
                (click)="initTempStudentList(); triggerModal(modalAddStudent)"
                >Edit Student(s)</a
            >
            <a
                class="btn btn-primary"
                (click)="triggerModal(modalStudentAttendance)"
                >Student Attendance</a
            >
            <a class="btn btn-primary" (click)="triggerModal(modalAddEvent)">Add Event</a>
        </div>

        <div class="">
            {{ selectedDate }}
        </div>

        <div class="col" style="overflow: hidden">
            <div class="studentsContainer">
                <div
                    class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light"
                    style="max-height: 80%"
                >
                    <div *ngFor="let event of getEventsByDay(selectedDate.getDate())">
                        {{ event.title }} - {{ event.start }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #modalAddStudent let-modal class="modal">
    <div class="modal-header">
        <h5 class="modal-title">Edit Student(s):</h5>
        <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="modal.dismiss()"
        ></button>
    </div>

    <div class="modal-body">
        <div *ngFor="let student of allStudents">
            <div
                *ngIf="tempStudentsList.includes(student.id); then thenBlock; else elseBlock"
            ></div>
            <ng-template #thenBlock>
                <input
                    type="checkbox"
                    checked
                    data-toggle="toggle"
                    (click)="removeStudent(student)"
                />
                {{ student.firstName }} {{ student.lastName }}
            </ng-template>
            <ng-template #elseBlock>
                <input
                    type="checkbox"
                    unchecked
                    data-toggle="toggle"
                    (click)="addStudent(student)"
                />
                {{ student.firstName }} {{ student.lastName }}
            </ng-template>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="saveStudentsList(); modal.close()">
            Save
        </button>
    </div>
</ng-template>

<ng-template #modalStudentAttendance let-modal class="modal">
    <div class="modal-header">
        <h5 class="modal-title">Student Attendance:</h5>
        <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="modal.dismiss()"
        ></button>
    </div>

    <div class="modal-body">
        <div *ngFor="let id of currentClassroom.studentIDs">
            <input
                type="checkbox"
                checked
                data-toggle="toggle"
            />
            {{ getStudentFromID(id).firstName }} {{ getStudentFromID(id).lastName }}
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close()">
            Save
        </button>
    </div>
</ng-template>

<ng-template #modalAddEvent let-modal class="modal">
    <div class="modal-header">
        <h5>Add Event:</h5>
        <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="modal.dismiss()"
        ></button>
    </div>

    <div class="modal-body">
        <div class="form-group">
            <label for="name">Title</label>
            <input
                type="text"
                class="form-control"
                id="name"
                required
                [(ngModel)]="newEventInput.title"
                name="name"
                #eventTitle
            />
        </div>

        <div class="form-group">
            <label for="description">Date</label>
            <input
                type="date"
                [min]="currentDateString"
                class="form-control"
                id="description"
                required
                [(ngModel)]="newEventInput.date"
                #eventDate
            />
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addNewEvent(); modal.close()">
            Save
        </button>
    </div>
</ng-template>

<ng-template #modalEditEvent let-modal class="modal">
    <div class="modal-header">
        <h5>Edit Event:</h5>
        <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="modal.dismiss()"
        ></button>
    </div>

    <div class="modal-body">
        <div class="form-group">
            <label for="name">Title</label>
            <input
                type="text"
                class="form-control"
                id="name"
                required
                [(ngModel)]="newEventInput.title"
                name="name"
                #eventTitle
            />
        </div>

        <div class="form-group">
            <label for="description">Date</label>
            <input
                type="date"
                [min]="currentDateString"
                class="form-control"
                id="description"
                required
                [(ngModel)]="newEventInput.date"
                #eventDate
            />
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="saveSelectedEvent(); modal.close()">
            Save
        </button>
        <button type="button" class="btn btn-danger" (click)="deleteSelectedEvent(); modal.close()">
            Delete
        </button>
    </div>
</ng-template>
