* {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 80vh;
}

h3 {
  align-self: center;
  margin-bottom: 0.5em;
}

.column {
  border: 1px solid #333;
  padding: 5px;
  background-color: white;
}

.row {
  margin-bottom: 0.6em;
  align-items: center;
}

.flex-container {
  width: 80%;
  height: inherit;
  display: flex;
  justify-content: space-around;
  border: 1px solid #333;
  padding: 5px;
}

.flex-item {
  text-align: center;
  background-color: white;
  padding: 5px;
  border: 1px solid #333;
}

.student-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.name {
  display: flex;
  font-size: 24;
}

.buttons button {
  padding: 0.5em;
}
